<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.courtoisconsulting.shoguns"
        versionCode = "1" 
        version     = "0.0.4" >

    <gap:splash src="img/splash.png" width="320" height="480" />
    <icon src="icon.png" />
    <preference name="orientation" value="default" />
    <name>Showguns of 19th century</name>

    <description>
        Presentation of the nineteen century shogun of Japan. 
    </description>

    <author href="https://courtoisconsulting.com" email="mc@courtoisconsulting.com">
        Maurice Courtois @ Courtois Consulting Inc
    </author>

</widget>

